apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "clickhouse-compute.fullname" . }}-config
  labels:
    {{- include "clickhouse-compute.labels" . | nindent 4 }}
data:
  storage.xml: |
    <clickhouse>
        <storage_configuration>
            <disks>
                {{- if .Values.storage.s3.enabled }}
                <s3_disk>
                    <type>s3</type>
                    <endpoint>{{ .Values.storage.s3.endpoint }}/{{ .Values.storage.s3.bucket }}/</endpoint>
                    <access_key_id from_env="S3_ACCESS_KEY" />
                    <secret_access_key from_env="S3_SECRET_KEY" />
                    <region>{{ .Values.storage.s3.region }}</region>
                </s3_disk>
                {{- end }}
            </disks>
            <policies>
                {{- if .Values.storage.s3.enabled }}
                <s3_main>
                    <volumes>
                        <main>
                            <disk>s3_disk</disk>
                        </main>
                    </volumes>
                </s3_main>
                {{- end }}
            </policies>
        </storage_configuration>
    </clickhouse>
