apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "parquet-converter.fullname" . }}
  labels:
    {{- include "parquet-converter.labels" . | nindent 4 }}
spec:
  schedule: {{ .Values.schedule | quote }}
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            {{- include "parquet-converter.selectorLabels" . | nindent 12 }}
        spec:
          serviceAccountName: {{ include "parquet-converter.serviceAccountName" . }}
          restartPolicy: {{ .Values.restartPolicy }}
          containers:
            - name: {{ .Chart.Name }}
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              resources:
                {{- toYaml .Values.resources | nindent 16 }}
              env:
                {{- range $key, $value := .Values.env }}
                - name: {{ $key }}
                  value: {{ $value | quote }}
                {{- end }}
