---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "clickhouse.fullname" . }}-secrets
  labels:
    {{- include "clickhouse.labels" . | nindent 4 }}
  {{- with .Values.secrets.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  appUserPassword: {{ .Values.config.users.appUserPassword | toString | b64enc }}