{{- $useExternal := include "clickhouse.credentials.useExternal" . -}}
{{- if ne $useExternal "true" }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "clickhouse.credentials.refName" . }}
  labels:
    {{- include "clickhouse.labels" . | nindent 4 }}
  {{- with .Values.secrets.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  user: {{ include "clickhouse.credentials.username" . | b64enc }}
  password: {{ include "clickhouse.credentials.password" . | b64enc }}
{{- else }}
# Using external secret: {{ include "clickhouse.credentials.secretName" . }}
# Expected keys: user, password
{{- end }}