{{- $useExternalSecret := include "clickhouse.useExternalSecret" . -}}
{{- if eq $useExternalSecret "true" }}
# External secret is referenced, don't create internal secrets
# The external secret should contain 'username' and 'password' keys
{{- else }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "clickhouse.fullname" . }}-secrets
  labels:
    {{- include "clickhouse.labels" . | nindent 4 }}
  {{- with .Values.secrets.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  {{- $effectiveUsername := include "clickhouse.effectiveUsername" . -}}
  {{- $effectivePassword := include "clickhouse.effectivePassword" . -}}
  {{- if not (eq $effectiveUsername "default") }}
  username: {{ $effectiveUsername | toString | b64enc }}
  {{- end }}
  password: {{ $effectivePassword | toString | b64enc }}
{{- end }}