replicaCount: 1
image:
  repository: clickhouse/clickhouse-server
  tag: 23.8
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  httpPort: 8123
  tcpPort: 9000
storage:
  s3:
    endpoint: "https://s3.us-east-1.amazonaws.com"
    bucket: "my-data-bucket"
    region: "us-east-1"
    accessKey: "change-me"
    secretKey: "change-me"
resources:
  limits:
    cpu: 2000m
    memory: 4Gi
  requests:
    cpu: 1000m
    memory: 2Gi
